SanderyName {
    position: absolute;
    color: white;
    left: 260px;
    top: 75px;
    font-size: 30px;
    font-family: Poppins;
    font-weight: 700;
    text-align: right;        
    text-shadow: 2px 2px 1px black;
}